{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style1.css' %}">
</head>
<body>
    <h1 style="text-align:center">Task Page</h1>
<div class="tasks">
    <div class="task">
        <h3>task name: {{task1.task_name}}</h3>
        <h4>assigned To: {{task1.assigned_to}}</h4>
       

    </div>
    <div class="task">
        <h3>task name: {{task1.task_name}}</h3>
        <h4>assigned To: {{task1.assigned_to}}</h4>
       

    </div>
    <div class="task">
        <h3>task name: {{task1.task_name}}</h3>
        <h4>assigned To: {{task1.assigned_to}}</h4>
       

    </div>
    <div class="task">
        <h3>task name: {{task1.task_name}}</h3>
        <h4>assigned To: {{task1.assigned_to}}</h4>
       

    </div>
    <div class="task">
        <h3>task name: {{task1.task_name}}</h3>
        <h4>assigned To: {{task1.assigned_to}}</h4>
       

    </div>
</div>
</body>
</html>